h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: brown;
    font-weight: 800;
    font-size: 35px;
}

#title{
    margin-left: 40%;
    margin-top: 5%;
    padding: 1% 1%;
    
    
}

#bodyContent{
    margin-left: 40%;
    padding: 1% 1%;
}

#submit{
    margin-left: 40%;
    padding: 0.5% 1.25%;
    background-color: darkseagreen;

}
footer{
    margin-top: 800px;
    text-align: center;
    font-weight: 600;
}
footer span{
    color: chocolate;
}